
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Raleway", sans-serif;
}

p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 200;
    color: rgb(75, 75, 75);
    font-family: "Gabarito", sans-serif;
}

button{
    cursor: pointer;
}


.main{
    padding: 10px 30px;
}

.container{
    max-width: 1440px;
    height: 600px;
    margin: 30px auto;
    background-color: #0707070c;
    overflow: hidden;
    position: relative;
}

.nav{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 10px;
}

.nav i{
    font-size: 24px;
    color: #161616;
}

.nav-box{
    width: 100px;
    padding: 0px 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    position: fixed;
    right: 70px;
}

.hide{
    display: none;
}

.nav-box ul{
    list-style: none;
    text-align: center;
    position: relative;
}

.nav-box ul{
    border: 1px solid #afafaf;
    background-color: #ececec;
}

.nav-box ul li{
    border-bottom: 1px solid #afafaf;
    padding: 6px;
}

.nav-box ul li a{
    text-decoration: none;
    color: #161616;
}
.nav-box div{
    width: 50px;
    height: 50px;
    background-color: #e7e7e7;
    position: absolute;
    top: -3px;
    left: 18px;
    transform: rotate(45deg);
    z-index: -1;
    border: 1px solid #afafaf;
}


.nav h3{
    font-weight: 200;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 110px;
}

svg{
    height: 100%;
    max-height: 600px;
    fill: rgb(233, 233, 233);
    position: absolute;
    top: 0;
    left: 10px;
    z-index: -1;
}
.svgP{
    height: 100%;
    max-height: 600px;
    fill: rgb(233, 233, 233);
    position: absolute;
    top: 0;
    left: 100px;
    z-index: -1;
}

.svgL{
    height: 100%;
    max-height: 600px;
    fill: rgb(233, 233, 233);
    position: absolute;
    top: 0;
    left: 100px;
}

.wrapper>div{
    width: 100%;
}

.wrapper .contant{
    margin-top: 100px;
}

.wrapper .contant h1{
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 30px;
    color: rgb(26, 26, 26);
}

.wrapper .contant h1 span{
    font-weight: 700;
}

.wrapper .line{
    margin-top: 30px;
    width: 1px;
    height: 80px;
    background-color: #000000;
}

.wrapper .image{
    width: 100%;
    height: 480px;
}

.wrapper img{
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

.about img{
    width: 80%;
}

.about h1{
    position: relative;
    text-align: center;
    margin-left: 20px;
}

.about h1::before{
    content: " ";
    position: absolute;
    top: 25px;
    left: -20px;
    width: 70px;
    height: 1px;
    background-color: #161616;
}

.about p{
    margin-bottom: 20px;
}

.about .social i{
    margin-left: 10px;
    font-size: 16px;
    color: white;
    background-color: #a8a8a8;
    padding: 5px 7px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.about .social i:hover{
    background-color: #000000;
}

.slider{
    position: relative;
}

.slider button{
    position: absolute;
    top: 40%;
    z-index: 3;
    font-size: 30px;
    padding: 10px 20px;
    transition: 0.3s ease-in-out;
}
.slider .nextBtn{
    right: 30px;
}
.slider .preBtn{
    left: 30px;
}

.slider button:hover{
    transform: scale(1.2);
}

.slider1 .image{
    width: 100%;
    height: 100%;
}

.slider1 img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.slider1 svg{
    z-index: 1;
    fill: rgba(238, 238, 238, 0.288);
}
.work2{
    margin-top: 80px;
}

.work2 p{
    max-width: 400px;
}

.work2.image{
    height: 250px;
    width: 100%;
}

.work2 .image img{
    width: 100%;
    height: auto;
}

.contact{
    text-align: center;
}
.contact h1{
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 30px;
    color: rgb(26, 26, 26);
    margin-top: 60px;
}

.contact h1 span{
    font-weight: 700;
}

.contact p{
    max-width: 800px;
    margin: 0px auto;
}



.form{
    margin-top: 25px;
    max-width: 600px;
    margin: 0px auto;
    padding: 0px 20px;
}

.form .mail{
    display: flex;
    gap: 20px;
}

.form .message textarea{
    height: 140px;
    border: 1px solid black;
    
}

.contact input, textarea{
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 20px;
    border: 1px solid black;
    background-color: transparent;
    width: 100%;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #000000;
}

.contact button{
    width: 100%;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    font-size: 18px;
    margin-top: 10px;
}

.contact footer{
    margin-top: 90px;
}

.slider2 .image-field{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    position: relative;
}

.slider2 .img-background-left,.slider2 .img-background-right{
    width: 448px;
    height: 298.66px;
    position: absolute;
    z-index: 1;
}

.slider2 .img-background-left{
    left: 160px;
}

.slider2 .img-background-right{
    right: 160px;
}

.slider2 .img-main{
    height: 388;
    width: 582px;
    z-index: 2;
}

.slider2 img{
    width: 100%;
}

footer p{
    font-size: 13px;
}

footer p span{
    font-size: 16px;
}



@media screen and (max-width: 1023px) {
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0px 30px;
        justify-items: end;
    }
    
    .wrapper .contant{
        width: 500px;
        margin-top: 100px;
        text-align: right;
    }
    
    .wrapper .contant h1{
        font-size: 40px;
        font-weight: 200;
        margin-bottom: 30px;
        color: rgb(26, 26, 26);
    }
    
    .wrapper .contant h1 span{
        font-weight: 700;
    }
    
    .wrapper .line{
        margin-top: 30px;
        width: 1px;
        height: 80px;
        background-color: #000000;
        display: none;
    }
    
    .wrapper .image{
        width: 100%;
        height: 100%;
        display: none;
    }

    .about h1{
        text-align: end;
    }

    .about h1::before{
        content: " ";
        position: absolute;
        top: 25px;
        left: -20px;
        width: 70px;
        height: 0px;
        background-color: #161616;
    }
    .work2 .contant{
        margin-top: 200px;
    }
    .work2 p{
        margin-left: 100px;
    }
    
    .slider2 .img-background-left,.slider2 .img-background-right{
        width: 448px;
        height: 298.66px;
        position: absolute;
        z-index: 1;
        display: none;
    }
    
}

@media screen and (max-width: 767px) {
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0px 20px;
        justify-items: center;
    }
    .wrapper .contant{
        width: 400px;
        margin-top: 120px;
        text-align: center;
    }

    .wrapper .contant h1{
        font-size: 34px;
        font-weight: 200;
        margin-bottom: 30px;
        color: rgb(26, 26, 26);
    }
    
    .wrapper .contant h1 span{
        font-weight: 700;
    }

    .about h1{
        text-align: center;
    }

    p{
        font-size: 14px;
    }

    .slider button{
        position: absolute;
        top: 45%;
        z-index: 3;
        font-size: 20px;
        padding: 5px 10px;
        transition: 0.3s ease-in-out;
    }
    .slider .nextBtn{
        right: 30px;
    }
    .slider .preBtn{
        left: 30px;
    }

    .work2 p{
        margin-left: 0px;
    }

    .work2 .contant{
        margin-top: 200px;
    }

    .form .mail{
        display: block;
        gap: 20px;
    }

    .slider2 .img-main{
        margin-top: 13%;
        height: 388px;
        width: 400px;
        z-index: 2;
    }
    
}